* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* font-family: "Hurricane", cursive; */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(10, 10, 10);
  color: #fff;
}
.auto-type {
  color: goldenrod;
}
.typed-cursor {
  color: goldenrod;
}
