* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
}

.accordion {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  max-width: 500px;
  margin-top: 20px;
  margin-left: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.accordion-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 10px;
  cursor: pointer;
}
.accordion-header * {
  pointer-events: none;
}
.accordion-content {
  background-color: #fff;
  height: 0;
  font-weight: 300;
  font-size: 14px;
  color: #333;
  border-top: 0;
  line-height: 1.6;
  overflow: hidden;
  transition: all 0.25s linear;
  /* padding: 20px; */
}

.accordion-content-inner {
  padding: 10px;
  border: 1px solid #eee;
}
.accordion-content.is-show {
  height: auto;
}
