*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.btn {
  display: block;
  margin: 15px auto;
  background-color: #ffa400;
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
}

.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: zoom-out;
}

.modal-content {
  position: relative;
  width: 600px;
  height: 300px;
  background-color: #fff;
  cursor: auto;
  border-radius: 8px;
}

.modal-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background-color: #6a5af9;
  border-radius: 10rem;
  width: 30px;
  height: 30px;
  color: #fff;
}
